.main-background {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  position: fixed;
  padding: 15px 20px;
}

body {
  margin: 0;
}

h1 {
  margin: 0px;
}

nav {
  display: flex;
  gap: 40px;
}

.travel1 {
  background-image: url(https://images.unsplash.com/photo-1501555088652-021faa106b9b?q=80&w=2373&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.travel2 {
  background-image: url(https://images.unsplash.com/photo-1489914169085-9b54fdd8f2a2?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.travel3 {
  background-image: url(https://images.unsplash.com/photo-1482398650355-d4c6462afa0e?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
